<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>

        <receiver
            android:name="net.kibotu.geofencer.internal.GeofenceReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="net.kibotu.geofencer.internal.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="net.kibotu.geofencer.internal.LocationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="net.kibotu.geofencer.internal.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="net.kibotu.geofencer.internal.GeofencerInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>
