<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sprotte.geofencer">

    <application>

        <receiver
            android:name="com.sprotte.geofencer.service.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.sprotte.geofencer.service.GeofenceBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>


        <service android:name="com.sprotte.geofencer.service.GeofenceBootService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


    </application>

</manifest>
