<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--Required in API 33/Android 13 onwards -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!--Required in API 30/Android 11 onwards-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>

        <receiver
            android:name="com.sprotte.geolocator.geofencer.service.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.sprotte.geolocator.geofencer.service.GeofenceBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!--For HTC devices-->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".tracking.service.LocationTrackerUpdateBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sprotte.geolocator.tracking.service.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
